# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet static
 address {{ip_address}}
 netmask {{netmask}}
 gateway {{default_gateway}}
 dns-nameservers {{dns_nameservers|join(', ')}}