# This is the network config written by 'subiquity'
network:
  version: 2
  renderer: networkd
  ethernets:
    {{interface}}:
      mtu: {{mtu}}
      dhcp4: no
      addresses:
        - {{ip_address}}{{netmask_cidr}}
{% if default_gateway is string %}
      gateway4: {{default_gateway}}
{% endif %}
{% if dns_nameservers is array %}
      nameservers:
        addresses: {{dns_nameservers|join(', ')}}
{% endif %}